@font-face {
    font-family: quicksand;
    src: url("./assets/Quicksand-VariableFont_wght.ttf");
}

@font-face {
    font-family: raleway;
    src: url("./assets/Raleway-VariableFont_wght.ttf");
}

@font-face {
    font-family: inter;
    src: url("./assets/Inter-Light.ttf");
}

html {
    overflow-x: hidden;
}

body {
    position: relative;
    height: fit-content;
    max-width: 1275px;
    margin: 0 auto;
    background-color: #73877B;
    padding: 0;
    font-family: raleway;
    min-height: 100vh;
    font-weight: 200;
    font-size: 16px;
}

@media screen and (max-width: 1275px) {
    body {
        overflow-x: hidden;
    }
}

p {
    text-indent: 0;
    font-family: inter;
    text-align: justify;
}

h1 {
    color: white;
    margin-left: 15px;
    margin-top: 50px;
}

#menu {
    display: flex;
    z-index: 5000000;
    height: fit-content;
    position: fixed;
    top: 0;
    width: 100vw;
    align-items: center;
    color: white;
    max-width: unset;
    flex-wrap: nowrap;
    background-color: #243A2D;
    transition: background-color 0.25s;
}

    #menu:hover {
        background-color: #1A281F;
    }

    #menu a {
        font-family: quicksand;
        font-size: clamp(12px, 3.5vw, 24px);
        color: white;
        text-decoration: none;
        margin-right: 7.5px;
        margin-left: 7.5px;
        transition: .25s ease-in-out;
        min-height: 50px;
        line-height: 50px;
    }

        #menu a:first-child {
            min-width: 50px;
        }


        #menu a:hover {
            color: #73877B;
        }

        #menu a img {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            height: 50px;
            transition: .25s ease-in-out;
        }

            #menu a img:hover {
                filter: opacity(0);
            }

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    z-index: 4999999;
    background-color: #243A2D;
    transition: background-color 0.25s;
}

    #menu:hover ~ #background {
        background-color: #1A281F;
    }

.header {
    margin-top: 100px;
    margin-bottom: 0px;
    margin-left: clamp(2.5vw, 5vw, 10vw);
    margin-right: 0;
    height: 40vw;
    min-height: 200px;
    max-height: 450px;
    width: 80vw !important;
    min-width: 275px;
    max-width: 1000px;
    background-image: url("./assets/geckoSquare.png");
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
}

    .header h1 {
        padding-top: 100px;
        padding-top: clamp(30px, 7vw, 100px);
        padding-left: 75px;
        padding-left: clamp(80px, 16vw, 200px);
        font-size: clamp(30px, 6vw, 75px);
        font-weight: 400;
        margin: 0;
    }

    .header h2 {
        margin: 0;
        padding-top: 0px;
        padding-left: 75px;
        padding-left: clamp(80px, 16vw, 200px);
        padding-bottom: 15px;
        font-size: 20px;
        font-size: clamp(20px, 3vw, 36px);
        font-weight: 200;
        white-space: nowrap;
    }

    .header a {
        margin: 0;
        margin-left: clamp(80px, 16vw, 200px);
        padding: 5px;
        font-size: 10px;
        font-size: clamp(11px, 3vw, 20px);
        font-weight: 200;
        white-space: nowrap;
        color: #B7FDFE;
        font-weight: bolder;
        background-color: #00000050;
        border-radius: 5px;
        transition: color linear .1s;
    }

        .header a:hover {
            color: #42CBCD;
        }

#about {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    margin-top: 50px;
    margin-left: 50px;
    color: white;
    padding-bottom: 25px;
    margin-bottom: 0;
}

#about div {
    width: 25%;
}

    #about .imageContainer {
        min-width: 200px;
    }

        #about .imageContainer .imageContainer2 {
            width: 100%;
            height: 0;
            padding-bottom: 100%;
            position: relative;
        }
    

        #about .imageContainer img {
            position: absolute;
            width: 100%;
            height: 100%;
            padding-top: 0;
            border-radius: 200px;
        }

        #about .imageContainer p {
            width: 95%;
            padding-bottom: 5%;
            margin: 0;
            font-size: 12px;
        }

    #about .container {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-content: start;
        width: 60%;
        min-width: 200px;
        padding-left: 10px;
    }

@media screen and (max-width: 606px) {
    #about .container {
        width: 85%;
    }
}


        #about .container h1 {
            font-size: 40px;
            width: 100%;
            margin: 0;
            margin-bottom: 10px;
            white-space: nowrap;
        }

        #about .container div.tldr, .container div.full {
            width: auto !important;
            margin: 0 !important;
        }

            #about .container div p {
                padding: 0;
            }

                #about .container div p a {
                    color: #C8E6D3;
                }
    

            #about .container div p + p {
                margin-top: 8px;
            }

        #about .container .covers {
            position: relative;
            height: 0;
            width: 100%;
        }

        #about .container .inputCover {
            position: absolute;
            height: 30px;
            width: 120px;
            background-color: #FFFFFFA0;
            z-index: -1;
            border-radius: 5px;
            transition: background-color 0.25s;
        }

        #about .container .inputSlider {
            position: absolute;
            height: 22px;
            width: 52px;
            background-color: #1A281F;
            z-index: -1;
            border-radius: 5px;
            left: 0;
            transition: left 0.25s;
            margin: 4px;
        }

        #about .container input {
            cursor: pointer;
            position: absolute;
            height: 30px;
            width: 120px;
            margin: 0;
            opacity: 0;
            z-index: 100;
            top: 55px;
        }


            #about .container input:hover ~ .covers .inputCover {
                background-color: #FFFFFFD0;
            }


        #about .container .full {
            opacity: 0;
            height: 0;
            margin: 0;
            display: none;
        }

            #about .container .full.coverText {
                opacity: 100%;
                color: black;
                margin-left: 24px;
                display: block;
            }

        #about .container .coverText {
            margin: 0;
            margin-top: 5px;
            margin-left: 7px;
            transition: color 0.25s;
            text-indent: 0px;
            font-family: raleway;
        }

        #about .container input:checked ~ .tldr.coverText {
            opacity: 100%;
            color: black;
            margin-top: 5px;
            margin-left: 7px;
        }

        #about .container input:checked ~ .tldr {
            opacity: 0;
            height: 0;
            margin: 0;
        }

        #about .container input:checked ~ .covers .inputSlider {
            left: 60px;
        }

        #about .container input:checked ~ .full {
            opacity: 100;
            display: block;
            height: auto;
            margin-block-start: 1em;
            margin-block-end: 1em;
        }

            #about .container input:checked ~ .full.coverText {
                opacity: 100%;
                color: white;
                height: auto;
                margin-top: 5px;
                margin-left: 24px;
                margin-bottom: 0;
            }

#projectWrapper {
    margin-top: 50px;
    padding-top: 50px;
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
}

    #projectWrapper .bg {
        position: absolute;
        height: calc(100% - 50px);
        width: 100vw;
        left: calc( -50vw + 50%);
        background-color: #617469;
        z-index: -1;
    }

    #projectWrapper h1 {
        font-size: 40px;
        margin-left: 0;
    }

    #projectWrapper h2 {
        color: white;
    }

    #projectWrapper .thatOneDiv {
        display: flex;
        flex-wrap: nowrap;
    }

    #projectWrapper .thatOneDiv img {
        height: 65px;
        margin-left: 10px;
    }

    #projectWrapper .projects {
        justify-content: center;
        margin: 0;
    }

    #projectWrapper .projects .item {
        width: 300px;
        min-width: 300px;
        height: 300px;
        border-radius: 10px;
        overflow: hidden;
    }
        #projectWrapper .projects .item input {
            width: 100%;
            height: 100%;
        }

        #projectWrapper .projects .item h1 {
            top: 0;
            margin: 0;
            max-width: 300px;
            width: 286px;
        }

        #projectWrapper .projects .item .type {
            position: absolute;
            top: 27px;
            right: 0;
            display: flex;
            flex-wrap: nowrap;
        }

            #projectWrapper .projects .item .type p {
                padding: 5px;
                border-radius: 10px;
                margin-right: 5px;
            }

        #projectWrapper .projects .item .square {
            background-color: unset;
            width: 100%;
            height: 100%;
        }

            #projectWrapper .projects .item .square img {
                background-color: unset;
                width: 100%;
                height: 100%;
                margin: 0;
            }

#projectWrapper .projects .item .details h2 {
    color: black;
}

.actButton {
    position: relative;
    height: 90px;
    overflow: hidden;
    border-radius: 15px;
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
}

    .actButton a div {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        background-image: linear-gradient(to right, #1A281F, #FFFFFF00)
    }

    .actButton a h4 {
        font-size: 24px;
        width: 65%;
        color: white;
        margin-left: 20px;
    }

    .actButton a .arrow {
        position: absolute;
        top: calc(50% - 20px);
        height: 40px;
        right: 12px;
        animation: 1s bounce ease-in-out infinite paused;
    }

        .actButton a:hover .arrow {
            animation-play-state: running;
        }

.homeButton {
    border-radius: 5px;
    width: 235px;
    margin: auto;
    margin-bottom: 50px;
    align-self: center;
}

    .homeButton a div {
        background-image: linear-gradient(to left, #1A281F, #FFFFFF00);
        justify-content: flex-end;
    }

    .homeButton a h4 {
        margin-right: 20px;
    }

    .homeButton a .arrow {
        transform: rotate(180deg);
        left: 12px;
        animation: 1s bounceRev ease-in-out infinite paused;
    }


.buttonWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: contain;
    margin: 10px 10px 10px 0;
    justify-content: center;
}

    .buttonWrapper div {
        position: relative;
        margin-bottom: 10px;
        max-width: 300px;
        height: 90px;
        flex-basis: 50%;
        margin: 10px;
    }

    .buttonWrapper a div {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        border-radius: 15px;
        margin: 0;
    }

        .buttonWrapper a img {
            border-radius: 15px;
        }

        .buttonWrapper a h4 {
            margin: 0 0 0 10px;
            font-size: 20px;
            width: 60%;
            color: white;
        }

        .buttonWrapper a .arrow {
            position: absolute;
            top: calc(50% - 20px);
            height: 40px;
            right: 12px;
            animation: 1s bounce ease-in-out infinite paused;
        }

            .buttonWrapper a:hover .arrow {
                animation-play-state: running;
            }

@keyframes bounce {
    0% {
        right: 12px;
    }

    65% {
        right: 5px;
    }

    100% {
        right: 12px;
    }
}

@keyframes bounceRev {
    0% {
        left: 12px;
    }

    65% {
        left: 5px;
    }

    100% {
        left: 12px;
    }
}

#workspace {
    margin-left: 50px;
    padding-right: 25px;
    padding-bottom: 50px;
}

    #workspace h1 {
        font-size: 40px;
        margin-left: 0;
    }

    #workspace div {
        color: white;
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 25px;
    }

        #workspace div img {
            width: 275px;
            height: fit-content;
            margin-right: 15px;
            border-radius: 5px;
        }

        #workspace div div {
            display: block;

        }

            #workspace div div h2 {
                margin-top: 0;
            }


@media screen and (max-width: 700px) {

    #workspace div {
        flex-wrap: wrap;
    }

        #workspace div img {
            margin-bottom: 10px;
        }
        #workspace div div {
            display: block;
            width: 275px;
        }

}

#bottomSpacer {
    padding-bottom: 150px;
}

#experience {
    color: white;
    margin-top: 100px;
    margin-left: 50px;
    padding-bottom: 250px;
}

    #experience h1 {
        font-size: 40px;
    }

.eng .background, .eng .square {
    background-color: #F6C28B !important;
}

.art .background, .art .square {
    background-color: #E072A4 !important;
}

.cod .background, .cod .square {
    background-color: #3D3B8E !important;
}

.buttons {
    width: calc(70% - 15px);
    height: 50px;
    min-height: 50px;
    margin-top: 0px;
    float: right;
    margin-bottom: 7.5px;
}

    .buttons div {
        margin-right: 15px;
        float: right;
        width: auto;
        height: 50px;
        transition: color 0.25s, background-color 0.25s;
    }

        .buttons div div {
            float: left;
            margin: 0;
            width: 50px;
            height: 50px;
        }

        .buttons div h1 {
            width: 100px;
            margin: 0;
            height: 40px;
            margin-top: 5px;
            margin-left: 50px;
            padding-right: 15px;
            padding-left: 15px;
            background-color: white;
            font-family: raleway;
            font-weight: 200;
            font-size: clamp(20px, 5vw, 30px);
            justify-content: center;
            text-align: center;
        }

@media screen and (max-width: 875px) {
    .header {
        float: none;
        width: auto;
    }

    .buttons {
        width: 100%;
        margin-top: 0;
    }

    .aB, .bB, .cB {
        top: unset !important;
    }
}

@media screen and (max-width: 625px) {

    .buttons div h1 {
        display: none;
    }

    .aB {
        right: 15px !important;
    }

    .bB {
        right: 80px !important;
    }

    .cB {
        right: 145px !important;
    }
}

.spacer {
    width: 100%;
    height: 7.5px;
}

.aI div {
    background-color: #F6C28B;
}

.bI div {
    background-color: #3D3B8E;
}

.cI div {
    background-color: #E072A4;
}

.aB, .bB, .cB {
    position: absolute;
    margin: 0;
    width: 200px;
    height: 50px;
    opacity: 0;
    right: 0;
    top: 0;
}

.bB {
    right: 200px;
}

.cB {
    right: 400px;
}

    .aB:hover ~ .buttons .aI, .bB:hover ~ .buttons .bI, .cB:hover ~ .buttons .cI {
        color: #73877B !important;
    }

.aB:checked ~ .buttons .aI div {
    background-color: #F6C28B50;
    background-color: rgba(246,194,139,0.5);
    color: #444444;
}

.bB:checked ~ .buttons .bI div {
    background-color: rgba(61,59,142,0.5);
    color: #444444;
}

.cB:checked ~ .buttons .cI div {
    background-color: rgba(224,114,164,0.5);
    color: #444444;
}

.aB:checked ~ .projects .eng {
    display: none;
}

.bB:checked ~ .projects .cod {
    display: none;
}

.cB:checked ~ .projects .art {
    display: none;
}

.RickAstley {
    position: relative;
}

.projects {
    display: flex;
    flex-flow: row wrap;
    flex-basis: 0;
    margin: 0;
    margin-left: 7.5px;
    margin-right: 7.5px;
    height: auto;
    width: 100%;
    padding-bottom: 50px;
}

.group {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    min-width: 235px;
    min-height: 200px;
    width: auto;
    height: min-content;
    margin: 0;
    background-color: mistyrose;
}

    .group input {
        position: absolute;
        height: 200px;
        width: 235px;
        margin: 10px;
        opacity: 0;
        z-index: 100;
        cursor: pointer;
    }

    .group .desc {
        background-color: rgba(0, 0, 0, 0.75);
        height: 200px;
        width: 235px;
        margin: 10px;
        display: none;
        color: white;
    }

        .group .desc p {
            margin: 10px;
            font-size: 14px;
        }

    .group .item {
        display: none;
    }

        .group .item .square {
            background-color: aqua;
        }

    .group input:checked ~ .item {
        display: flex;
    }

    .group input:checked ~ .desc {
        display: block;
    }

    .group input:checked ~ .cover .arrow {
        background-image: url(./assets/folderOpen.svg);
    }

    .group input:checked ~ .cover .clippy {
        opacity: 0;
    }

    .group input:checked ~ .cover .square img {
        filter: none;
    }

    .group input:hover ~ .cover .square img {
        filter: none;
    }

    .group .cover {
        height: 200px;
        width: 235px;
        margin: 10px;
        position: relative;
        display: flex;
    }

        .group .cover .square {
            flex-grow: 0;
            flex-shrink: 0;
            height: 200px;
            background-color: aqua;
        }

            .group .cover .square img {
                filter: grayscale(0.5) brightness(0.75);
                margin-left: 35px;
                width: 200px;
                height: auto;
                transition: filter 0.25s;
            }

        .group .cover h1 {
            position: absolute;
            flex: 1 0;
            padding: 7px;
            min-width: 0;
            font-weight: 300;
            font-size: 20px;
            top: 100px;
            right: 0;
            transition: font-size 0.5s ease,padding-top 0.5s ease;
            max-width: 190px;
            height: auto;
            background-color: rgba(0, 0, 0, 0.5) !important;
            color: white;
        }

        .group .cover .arrow {
            position: absolute;
            width: 40px;
            height: 40px;
            top: 150px;
            right: 15px;
            background-image: url(./assets/folder.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-origin: content-box;
            transition: background-image 0.5s ease;
            z-index: 5;
            transform-origin: 50% 25%;
        }

        .group .cover .clippy {
            position: absolute;
            width: 90px;
            height: 50px;
            top: 145px;
            left: 75px;
            background-image: url(./assets/click2.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-origin: content-box;
            transition: background-image 0.125s ease;
            z-index: 5;
            transform-origin: 50% 25%;
            transition: opacity 0.5s ease;
        }

.lab, .lab .desc {
    background-color: #26281A60;
}

.school, .school .desc {
    background-color: #1A282760;
}

.crest, .crest .desc {
    background-color: #22421760
}

.chess, .chess .desc {
    background-color: #17423860;
}


.lab .cover .square, .lab .item .square {
    background-color: #26281A;
}

.school .cover .square, .school .item .square {
    background-color: #1A2827;
}

.crest .cover .square, .crest .item .square {
    background-color: #224217;
}

.chess .cover .square, .chess .item .square {
    background-color: #174238;
}


.item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 235px;
    height: min-content;
    margin: 10px;
}

    .item input {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        height: 200px;
        width: 100%;
        margin: 0;
        opacity: 0;
        z-index: 100;
    }

        .item input:checked ~ .details {
            max-height: 100vh;
        }

            .item input:checked ~ .details * {
                opacity: 1;
                zoom: 1;
            }

            .item input:checked ~ .details img {
                display: initial;
            }

        .item input:checked ~ .arrow {
            position: fixed;
            margin: 0;
            top: 55px;
            right: 10px;
            transform: rotate(180deg);
            background-image: url(./assets/x.svg);
        }


        .item input:checked {
            position: fixed;
            z-index: 101;
            width: 100vw;
            height: 100vh;
        }

        .item input:checked ~ .square img {
            filter: none;
        }

        .item input:hover ~ .square img {
            filter: none;
        }

    .item .year {
        text-indent: 0px;
        font-family: raleway;
        display: table-cell;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        position: absolute;
        width: 70px;
        height: 35px;
        top: 0;
        left: 0;
        margin: 0;
        text-align: center;
        line-height: 35px;
        font-size: 20px;
    }

    .item .square {
        flex-grow: 0;
        flex-shrink: 0;
        height: 200px;
        background-color: #1A281F;
    }

.star {
    background-image: url(./assets/star.svg);
    background-position: 5px 40px;
    background-repeat: no-repeat;
    background-size: 25px;
}

        .item .square img {
            filter: grayscale(0.5) brightness(0.75);
            margin-left: 35px;
            width: 200px;
            height: auto;
            transition: filter 0.25s;
        }

    .item h1 {
        position: absolute;
        flex: 1 0;
        padding: 7px;
        min-width: 0;
        font-weight: 300;
        font-size: 20px !important;
        top: 65px;
        right: 0;
        transition: font-size 0.5s ease,padding-top 0.5s ease;
        max-width: 180px;
        height: auto;
        background-color: rgba(0, 0, 0, 0.5) !important;
        color: white;
    }

    .item .arrow {
        position: absolute;
        width: 35px;
        height: 35px;
        bottom: 10px;
        right: 10px;
        background-image: url(./assets/arrow3.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-origin: content-box;
        transition: transform 0.5s ease;
        z-index: 2;
        transform-origin: 50% 50%;
    }

    .item .details {
        display: flex;
        position: fixed;
        top: 0;
        left: 50vw;
        transform: translate(-50%, 0);
        background-color: rgba(256,256,256,0.9);
        width: calc(100vw - 50px);
        max-width: 1000px;
        padding: 0;
        margin: auto;
        margin-top: 100px;
        height: calc(100vh - 125px);
        max-height: 0;
        flex-direction: column;
        transition: max-height 0.5s ease;
        overflow-y: scroll;
        overflow-x: hidden;
        align-items: center;
        z-index: 101;
    }

        .item .details * {
            opacity: 0;
            transition: opacity 0.25s ease;
            padding: 0px;
        }

        .item .details h2 {
            display: inline-block;
            width: 60%;
            font-size: 40px;
            margin: 0;
            margin-top: 50px;
            margin-bottom: 25px;
            align-self: center;
            font-weight: bold;
        }

        .item .details img {
            display: none;
            padding-top: 12.5px;
            padding-bottom: 12.5px;
            max-width: 60%;
            height: auto;
            max-height: 750px;
            align-self: center;
        }

        .item .details iframe {
            margin-top: 25px;
            width: 60%;
            min-height: 500px;
            align-self: center;
        }

        .item .details video {
            padding-top: 12.5px;
            padding-bottom: 12.5px;
            max-width: 60%;
            height: auto;
            max-height: 500px;
        }

        .item .details div.break {
            display: block;
            width: 60%;
            min-width: 400px;
            min-height: 32px;
            max-height: 32px;
            background-image: url(./assets/divider.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
        }

        .item .details p.blurb {
            font-weight: bold;
        }

        .item .details p {
            display: block;
            width: 60%;
            min-width: 300px;
        }

            .item .details p a {
                display: inline;
                padding: 0;
            }

            .item .details iframe {
                display: block;
                margin: 0;
                padding: 0;
                padding-top: 1em;
                padding-bottom: 1em;
                width: 100%;
                border: 0;
            }

        .item .details .a_container {
            display: inline-block;
            width: 60vw;
            display: flex;
            flex: 1;
            justify-content: center;
            text-indent: 0px;
        }

            .item .details .a_container a {
                display: inline-block;
                text-align: center;
                padding-left: 5px;
                padding-right: 5px;
            }

    .intro {
        margin: 15px;
        margin-top: 100px;
        color: white;
    }

        .intro h1 {
            margin-left: 0;
            font-size: 40px;
            margin-top: 0;
        }

#badApple {
    width: 50vw;
    height: 37vw;
}

footer {
    position: absolute;
    bottom: 0;
    color: #FFFFFFC0;
    width: 100vw;
    display: flex;
    z-index: 51;
}

    footer p {
        margin-left: 10px;
        margin-right: 20px;
        padding-bottom: 5px;
    }

    footer a {
        color: #FFFFFFC0;
        text-decoration: none;
    }

    footer a:hover {
        text-decoration: underline;
    }

#footBackground {
    position: absolute;
    background-color: #121B15;
    width: 110vw;
    height: 100px;
    bottom: 0;
    left: calc(50% - 50vw);
    z-index: 50;
}

.activities {
    margin: 15px;
}

.fancyitem {
    width: calc(100% - 120px);
    height: 300px;
    background-color: #1A281F;
    display: flex;
    margin-bottom: 30px;
}

.fancyitem:nth-child(2n){
    margin-left: 120px;
}


@media screen and (max-width: 600px) {
    .fancyitem {
        flex-direction: column;
        height: 650px;
    }

        .fancyitem .bar {
            display: none;
        }

        .fancyitem .text {
            margin-left: 10px;
        }
}

    .fancyitem .bar {
        height: 100%;
        min-width: 20px;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .fancyitem img {
        margin: 15px;
    }

.fancyitem .text {
    color: white;
    overflow-y: auto;
}
        .fancyitem .text * {
            margin: 0;
            font-size: 15px;
            margin-right: 30px;
        }

        .fancyitem .text h1 {
            margin-top: 15px;
            font-size: 22px;
        }

        .fancyitem .text p {
            margin-top: 15px;
            margin-bottom: 10px;
        }
