@font-face {
    font-family: quicksand;
    src: url("./assets/Quicksand-VariableFont_wght.ttf");
}

@font-face {
    font-family: raleway;
    src: url("./assets/Raleway-VariableFont_wght.ttf");
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #73877B;
    margin: 0;
    padding: 0;
    font-family: raleway;
    font-weight: 200;
    overflow-x: hidden;
}

#menu {
    display: flex;
    z-index: 5000000;
    background-color: #00000050;
    height: 50px;
    position: fixed;
    top: 0;
    width: 100vw;
    align-items: center;
    color: white;
    transition: background-color 0.25s;
}

    #menu:hover {
        background-color: #000000B9;
    }

    #menu a {
        font-family: quicksand;
        font-size: 24px;
        color: white;
        text-decoration: none;
        margin-left: 10px;
        margin-right: 10px;
        transition: .25s ease-in-out;
    }

        #menu a:hover {
            color: #73877B;
        }

.header {
    margin-top: 75px;
    margin-bottom: 25px;
    margin-left: 25px;
    height: clamp(200px, 40vw, 300px);
    width: auto;
    background-image: url("./assets/geckoSquare.png");
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
}

    .header h1 {
        padding-top: clamp(50px, 10vw, 75px);
        padding-left: clamp(50px, 10vw, 75px);
        font-size: clamp(40px, 10vw, 60px);
        font-weight: 200;
        margin: 0;
    }

    .header h2 {
        margin: 0;
        padding-top: 0px;
        padding-left: clamp(50px, 10vw, 75px);
        font-size: 20px;
        font-weight: 200;
    }

.eng .background, .eng .square, .eng h1 {
    background-color: #F6C28B !important;
}

.art .background, .art .square, .art h1 {
    background-color: #E072A4 !important;
}

.cod .background, .cod .square, .cod h1 {
    background-color: #3D3B8E !important;
}

.buttons {
    width: 100%;
    height: 50px;
    background-color: #00000020;
}

    .buttons div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .buttons div h1 {
        text-align: center;
        font-family: raleway;
        font-weight: 100;
        font-size: clamp(20px, 5vw, 30px);
        justify-content: center;
    }

.spacer {
    width: 100%;
    height: 7.5px;
}

.engIndicator, .artIndicator, .codIndicator {
    float: left;
    width: calc(0.3333 * 100vw);
    height: 50px;
    transition: color 0.25s, background-color 0.25s;
}

.engIndicator {
    background-color: #F6C28B;
}

.codIndicator {
    background-color: #3D3B8E;
}

.artIndicator {
    background-color: #E072A4;
}

.engButton, .codButton, .artButton {
    position: absolute;
    margin: 0;
    width: calc(0.3333 * 100vw);
    height: 50px;
    opacity: 0;
}

.codButton {
    left: calc(0.3333 * 100vw);
}

.artButton {
    left: calc(0.6667 * 100vw);
}

.engButton:hover ~ .buttons .engIndicator, .codButton:hover ~ .buttons .codIndicator, .artButton:hover ~ .buttons .artIndicator {
    color: white !important;
}

.engButton:checked ~ .buttons .engIndicator {
    background-color: #F6C28B50;
    color: #444444;
}

.codButton:checked ~ .buttons .codIndicator {
    background-color: #3D3B8E50;
    color: #444444;
}

.artButton:checked ~ .buttons .artIndicator {
    background-color: #E072A450;
    color: #444444;
}

.engButton:checked ~ .projects .eng {
    display: none;
}

.codButton:checked ~ .projects .cod {
    display: none;
}

.artButton:checked ~ .projects .art {
    display: none;
}

.projects {
    display: flex;
    flex-flow: row wrap;
    flex-basis: 0;
    margin: 0;
    padding-left: 7.5px;
    padding-right: 7.5px;
    height: auto;
    width: 100%;
}

.item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: min-content;
    height: min-content;
    margin: 7.5px;
}

    .item input {
        position: absolute;
        inset: 0;
        height: 300px;
        width: 100%;
        margin: 0;
        opacity: 0;
        z-index: 100;
    }

        .item input:checked ~ .details {
            max-height: 750px;
        }

            .item input:checked ~ .details * {
                opacity: 100%;
            }

        .item input:checked ~ .arrow {
            transform-origin: 50% 50%;
            transform: rotate(180deg);
        }

        .item input:checked ~ .square img {
            filter: none;
        }

    .item .square {
        flex-grow: 0;
        flex-shrink: 0;
        height: 300px;
    }

        .item .square img {
            filter: grayscale(0.5);
            margin-left: 35px;
            height: 300px;
            width: auto;
            transition: filter 0.25s;
        }

        .item:hover .square img {
            filter: none;
        }

    .item h1 {
        position: absolute;
        flex: 1 0;
        padding: 7px;
        min-width: 0;
        font-weight: 300;
        font-size: 20px;
        margin-top: 250px;
        margin-left: 50px;
        transition: font-size 0.5s ease,padding-top 0.5s ease;
        max-width: 190px;
        height: auto;
        background-color: #00000085 !important;
        color: white;
    }

    .item .arrow {
        margin-top: 235px;
        width: 50px;
        height: 50px;
        margin-left: -75px;
        justify-content: right;
        background-image: url(./assets/arrow.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-origin: content-box;
        transition: transform 0.5s ease;
        z-index: 2;
    }

    .item .details {
        background-color: #FFFFFF50;
        width: 100%;
        margin: 0;
        height: 750px;
        max-height: 0;
        transition: max-height 0.5s ease;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 25px;
        padding-right: 25px;
    }

        .item .details * {
            opacity: 0;
            transition: opacity 0.25s ease;
        }

        .item .details img {
            padding-top: 25px;
            height: 200px;
            width: auto;
        }

        .item .details p {
            display: inline-block;
            width: contain;
        }

            .item .details p a {
                display: inline;
                padding: 0;
            }

        .item .details .a_container {
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-self: flex-end;
        }
            .item .details .a_container a {
                display: inline-block;
            }
